[alias]
	# いい感じのグラフでログを表示
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	# 上の省略形
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	st = status
	#cm = commit
	# Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
	stt = status -uno
	# 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
	difff = diff --word-diff
	# ステージングしたコードを確認
	diffst = diff --staged
	# add を確認
	add = add -p
	empty = commit -m "empty" --allow-empty

[user]
	name = Tetsu Takizawa
	email = tetsu.takizawa5@gmail.com
	signinkey = E1817E4026D9D7AC
[merge]
	ff = false
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
    #templatedir = ~/.git-templates/git-secrets
	defaultBranch = main
[push]
	default = current
[credential]
        helper = !aws --profile zucks-affiliate --region us-east-1 codecommit credential-helper $@
        UseHttpPath = true
[commit]
	gpgsign = true
[core]
	editor = vim -c \"set fenc=utf-8\"
[ghq]
	root = ~/repo
